<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card custom-shadow">
        <div class="card-body">
          <h3 class="card-title text-bahia mb-4">Entrar</h3>
 
          <input type="text" name="fakeusernameremembered" style="display:none" />
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="Digite seu email"
                autocomplete="off"
              >
              <div
                *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger mt-1"
              >
              <div *ngIf="loginForm.get('email')?.errors?.['required']">
                O email é obrigatório.
              </div>
              <div *ngIf="loginForm.get('email')?.errors?.['email']">
                Digite um email válido.
              </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
                placeholder="Digite sua senha"
                autocomplete="new-password"
              >
              <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger mt-1">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                  A senha é obrigatória.
                </div>
                <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                  A senha deve ter pelo menos 6 caracteres.
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Entrar</button>
          </form>
          <div class="text-center mt-3">
            <p>Ainda não possui conta? <a (click)="navigateTo('cadastro')" style="cursor:pointer;">Cadastre-se</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
